
<div class="container">  
  <br>
  <div class="row text-white">
    <div class="col-lg-7"><h3 class="display-6">New Feedback</h3> </div>
  </div>
  <br>
  <%= render "form", feedback: @feedback %>

<div>
  <%#= link_to "Back to feedbacks", product_feedbacks_path(@product.id) %>
</div>
</div>  
