<div class="container">  
  <br>
  <div class="row text-white">
    <div class="col-lg-7"><h3 class="display-6">Editing product</h3> </div>
  </div>
  <%= render "form", product: @product %>
  <br>
  <div><%= link_to "Back to products", products_path %></div>
</div>  
