<div class="container">  
  <br>
  <div class="row text-white">
    <div class="col-lg-7"><h3 class="display-6">New Product</h3> </div>
  </div>
  <br>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to "Back to products", products_path ,class: "text-white"%>
  </div>

</div>  
